.wrapper {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.container {
    border-radius: .5em;
    overflow: hidden;
    max-width: 500px;
}

@media (min-width:800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 900px;
    }
}

@media (max-width:801px) {
    .wrapper {
        margin: 4em 2em;
    } 
}