.wrapper {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.container {
    border-radius: .5em;
    overflow: hidden;
}

@media (min-width:800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 900px;
    }
}