.card {
    padding: 3.25em;

    display: grid;
    align-content: space-between;
}

.content {
    display: grid;
    gap: 2em;
}

.color-orange {
    background-color: var(--clr-orange);
}

.color-orange .button {
    color: var(--clr-orange);    
}

.color-cyan {
    background-color: var(--clr-cyan);
}

.color-cyan .button {
    color: var(--clr-cyan);
}

.color-dark-cyan {
    background-color: var(--clr-dark-cyan);
}

.color-dark-cyan .button {
    color: var(--clr-dark-cyan);
}

.title {
    text-transform: uppercase;
    font-family: var(--ff-accent);
    font-weight: var(--fw-bold);
    font-size: 2.5rem;
    color: #fff;
}

p {
    line-height: 1.65;
    margin-bottom: 5.5em;
}

.button {
    border: none;
    border-radius: 100vw;
    padding: 1.0625em 2em;
    font-weight: var(--fw-bold);
    width: fit-content;
    border: 2px solid white;
}

.button:hover {
    color: white;
    background-color: inherit;

    cursor: pointer;
}